body {
  font-family: sans-serif;
  background-color: black;
  color: white;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

header {
  background: white;
  color: black;
  height: 46px;
  text-align: center;
  line-height: 46px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

li {
  list-style-type: none;
}

#playerOne {
  margin: 10px 50px 10px 20px;
  float: left;
  width: 250px; 
}

.playerScoreboards {
  padding: 5px;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  background: #948484;
  color: black;
  text-align: center;
}


#scoreboardContainers {
  margin-top: 10px;
}

.rows {
  float: left;
  display: inline;
  margin: 0 auto;
}

.levelNum { 
  background-color: white;
  color: black;
  line-height: 50px;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
  width: 115px;
  height: 49px;
  float: left;
  border-bottom: 1px solid black;
}

input[type=levelPoints] { 
  padding: 3px;
  margin: 0 auto;
  width: 115px;
  height: 51px;
  border-top: 0px;
}

#mainBody {
  margin: 10px 0px 10px 0px;
  width: 820px; 
  float: left;
}
/*
#display {
  width: 820px;
  height: 75px;
  background: white;
  border-bottom: 2px solid black;
  color: black;
  line-height: 75px;
  text-align: center;
}*/

input[type=display] { 
  width: 820px;
  height: 75px;
  background: white;
  border-bottom: 2px solid black;
  color: black;
  line-height: 75px;
  text-align: center;
  border: none;
}

#imageContainer {
  width: 820px;
  height: 400px;
  background: white;
  border-bottom: 2px solid black;
  color: black;
  line-height: 500px;
  text-align: center;
}

#roundOptions {
  width: 820px;
  height: 75px;
  background: white;
  border-bottom: 2px solid black;
  color: black;
  line-height: 75px;
  text-align: center;
}

.options { 
  background-color: white;
  color: black;
  line-height: 49px;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
  width: 115px;
  height: 49px;
  float: left;
}

input[type=button] { 
  padding: 3px;
  margin: 0 auto;
  width: 115px;
  height: 51px;
  border-top: 0px;
  float: left;
}

#startAndTimer {
  width: 820px;
  height: 75px;
  background: white;
  border-bottom: 2px solid black;
  color: black;
  line-height: 75px;
  text-align: center;
}

#startTimerContainer {
  width: 400px;
  height: 75px;
  margin-left: 200px;
  margin-right: 200px;
}

input[type=startButton] { 
  padding: 3px;
  background: green;
  border: 1px solid green;
  border-radius: 20%;
  width: 100px;
  height: 60px;
  float: left;
  text-align: center;
  line-height: 60px;
}

#timer {
  width: 150px;
  height: 60px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 60px;
}

#playerTwo {
  margin: 10px 20px 10px 0px;
  float: right;
  width: 250px; 
}

.playerProfiles {
  padding: 5px;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  background: white;
  color: black;
  text-align: center;
}

.circle {
  border: 2px solid black;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

/*GRID STARTS*/

.grid {
  width: 820px;
  height: 400px;
  margin: 0 auto;
  padding: 0;
  background-image: url("towie.png");
}

.grid li {
  width: 80px;
  height: 133px;
  float: left;
  margin: 0;
  padding: 0;
}

.square { background: black; border: 1px solid white;  }
